/*/F2806x_RAM/
/*/FLASH/
/*/Debug/
*.graphProp
*.ini_initial
*.prefs
project.log
/**/.launches/
/*/.settings/
version_git.h
*.bin
*.ax
/Tools/3DRGimbalFactoryApplication/build-*/
*.user
*.exe
*.db
*.pyc
*~
*mav.tlog*

.DS_Store

*.o
*.pp
*.hex
*.map
*.out
*linkinfo.xml

.vagrant
*.csv

/Tools/src/logs/
